Source: python-serialchemy
Section: python
Priority: optional
Maintainer: Baev Aleksandr <old_bay@mail.ru>
Build-Depends: debhelper,
                dh-python,
                python3-all,
                python3-setuptools,
                python3-setuptools-scm,
                python3-pytest,
                python3-sqlalchemy
Standards-Version: 3.9.5.0
Homepage: http://spb.vega.su
X-Python3-Version: >= 3.5

Package: python3-serialchemy
Architecture: all
Section: python
Depends: ${misc:Depends},
        python3-sqlalchemy
Description: Serializator for SqlAlchemy.
