Source: python-validation-collection
Section: python
Priority: optional
Maintainer: Baev Aleksandr <old_bay@mail.ru>
Build-Depends: debhelper,
                dh-python,
                python3-all,
                python3-setuptools,
                python3-setuptools-scm,
                python3-pytest,
                python3-jsonschema
Standards-Version: 3.9.5.0
Homepage: https://github.com/insightindustry/validator-collection
X-Python3-Version: >= 3.5

Package: python3-validation-collection
Architecture: all
Section: python
Depends: ${misc:Depends},
        python3-jsonschema
Description: insightindustry validator-collection
